.h {display:flex; justify-items: center; height:10vh;display:flex; justify-content: space-between; border-bottom: 1px solid cadetblue;}
.logo {align-self: center; background-image: url(a.jpg); background-size: 100%; background-repeat: no-repeat; height:10vh; width:120px; }
.meniu {font-size:1em; font-weight: 700; margin:8px; color:grey;}
.namas {font-size: 2em}
.meniujuosta {display: flex; justify-content: space-between; width:50vw;align-items: center; color: cadetblue}
.container {border: 0.5px solid grey; width:50vmax;margin:10vh auto;}
a {margin:5px;}