body {
    padding: 50px 50px 0px 50px;
    background-color: #c8cfdc;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #fff;
    padding-bottom: 150px;
}

header nav {
    padding: 20px 29px 78px 20px;
    color: #333333;
}

header nav .leftSide {
    float: left;
}

header nav .rightSide {
    float: right;
}

nav .leftSide li,
nav .rightSide li,
nav .leftSide img {
    display: inline-block;
    vertical-align: middle;
}

nav .leftSide img {
    margin-right: 30px;
}

nav .leftSide li:not(:last-of-type) {
    margin-right: 42px;
}

nav .leftSide li,
nav .rightSide li {
    text-transform: uppercase;
    color: #333333;
    cursor: pointer;
}

nav .rightSide {
    line-height: 50px;
}

nav .rightSide li:not(:last-of-type) {
    margin-right: 30px;
}

nav .rightSide li img {
    margin-right: 10px;
    vertical-align: middle;
}

img.cart {
    margin-top: -4px;
}

nav .rightSide span {
    color: #0089cf;
    /*Nezinau ar geras sprendimas, bet p... veikia*/
/*    vertical-align: top;*/
}

header .topWrapper {
    width: 78%;
    margin: auto;
    font-size: 0px;
}

header .topWrapper .shoe {
    width: 74%;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 100px;
    box-sizing: border-box;
}

header .topWrapper .rightSide {
    display: inline-block;
    vertical-align: bottom;
    width: 26%;
    font-size: 16px;
}




