$spalva1: cadetblue; 
#virsus {
    border-bottom: 1px solid $spalva1;
     height: 10vh;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    
    }
#logo {
    background-image: url(a.jpg); 
    background-repeat: no-repeat; 
    width: 200px;
    background-size: contain;

}
#menu {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li {display: inline-block;}

#virsaus_desine {align-self: center; display: flex;}

.cont {
    border: 0.5px solid grey;
    width: 40vmax;
    margin: 10vh auto;
    padding: 15px;
  }
.mgt1 {background-color: $spalva1; border-color:$spalva1;}
#apacia {display: flex; flex-direction: column; justify-content: stretch;}
.span1 {color: white; font-weight: 700; margin:10px;}
$tamsi1: darken($spalva1,25%);
.span2 {color:$tamsi1; font-weight: 700;}
.span3 {color:white; font-weight: 600;}
.span4 {color:$tamsi1;}
#awesome { display:flex; flex-direction: column; justify-content: space-between;}
#awesome2 {align-self: center;}
#pirma_juosta {display: flex; justify-content: space-between; background-color: $spalva1; padding: 5px;;}
.mgt2 {background-color: $tamsi1; border-color:$tamsi1; border-radius:1em; margin-right: 4rem;}
#antra_juosta {background-color: black; opacity: 0.8; padding: 2rem; display: flex; flex-direction: row; justify-content: space-between;}
.f1 { width:200px; height:150px; color:white; padding:3px; flex:1;}
.kontaktai {font-weight: 800; font-size: 2rem}
.kontaktai2 {font-size: 1.5rem;}
a {color:$spalva1;}
.menu2 {display:none; }
.m {margin:8px;}
.inline {display: inline-block;}
span {display: inline-block;}
@media (max-width:768px) {
    #antra_juosta {flex-direction: column; justify-content: center;}
    #pirma_juosta {flex-direction: column; justify-content: center;}
    li {display:none;}
    .menu2 {display:inline-block;}
}